<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<form method="POST" action="">
</form>
<h2>Routes Information</h2>

<table>
  <tr>
    <th>r_no</th>
    <th>status</th>
  </tr>
  {% for r in res %}
  <tr>
  	{% for s in r %}
  	<td> {{s}}</td>
   {% endfor %}
  
  </tr>
  {% endfor %}
</table>

</body>
</html>
